<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{decorator/client}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="~{content}">
<div class="heading-page header-text">
    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-content">
                        <h4>Movie Blog</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Banner Ends Here -->


<section class="contact-us">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <div class="down-contact">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="sidebar-item contact-form">
                                <div class="sidebar-heading">
                                    <h2>Chỉnh sửa thông tin: <span></span></h2>
                                </div>
                                <div class="content">
                                    <form action="/user" method="post">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <fieldset>
                                                    <label for="hoten"><b>Họ tên: </b></label>
                                                    <input th:name="fullName" type="text" id="hoten" required="" style="text-transform: none">
                                                </fieldset>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <fieldset>
                                                    <label for="ngaysinh"><b>Ngày sinh: </b></label>
                                                    <input th:name="datetime" type="date" id="ngaysinh" required="" style="text-transform: none">
                                                </fieldset>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <fieldset>
                                                    <label for="diachi"><b>Địa chỉ: </b></label>
                                                    <input th:name="address" type="text" id="diachi" required="" style="text-transform: none">
                                                </fieldset>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <fieldset>
                                                    <label for="email"><b>Email: </b></label>
                                                    <input th:name="email" type="email" id="email" required="" style="text-transform: none">
                                                </fieldset>
                                            </div>

                                            <div class ="col-md-12 col-sm-12">
                                                <fieldset>
                                                    <div class=”input-group”>
                                                        <label class=”input-group-text”><b>Giới tính:</b></label>
                                                        <label>
                                                            <select class=”custom-select”>
                                                                <option th:name="gender" th:value="Nam" >Nam</option>
                                                                <option th:name="gender" th:value="Nữ" >Nữ</option>
                                                                <option th:name="gender" th:value="Khác" >Khác</option>
                                                            </select>
                                                        </label>
                                                    </div>
                                                </fieldset>
                                                <hr>
                                            </div>
                                            <hr>
                                            <div class="col-lg-12">
                                                <fieldset>
                                                    <button type="submit" id="form-submit" class="main-button">Luu</button>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
</body>
</html>