<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{decorator/user}" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="~{content}">
    <br>
    <section class="blog-posts">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="all-blog-posts">
                        <div class="row">
                            <div class="col-lg-12" th:each="post :${listPostInHome}">
                                <div class="blog-post">
                                    <div class="blog-thumb">
                                        <a th:href="@{'/post/'+${post.Id}}"><img width="510px" height="365px" th:src="@{'/'+${post.imgHeader}}"></a>
                                    </div>
                                    <div class="down-content">
                                        <span></span>
                                        <a th:href="@{'/post/'+${post.Id}}"><h4>[[${post.title}]]</h4></a>
                                        <ul class="post-info">
                                            <li><i class="fa fa-user"></i> [[${post.username}]]
                                            <li>[[${post.created}]]</li>

                                        </ul>
                                        <p th:text="${#strings.abbreviate(post.description,270)}"></p>
                                        <div class="post-options">
                                            <div class="row">
                                                <div class="col-6">
                                                    <ul class="post-tags">
                                                        <li><i class="fa fa-tags"></i></li>
                                                        <li>
                                                            <th:block th:each="category :${post.category}">
                                                                <a style="background-color: #f48840;border-color: #f48840;color: #fff" th:href="@{/post/{category}/list(category=${category})}">[[${category}]]&nbsp;</a>
                                                            </th:block>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="main-button">
                                    <a href="/post">Xem tất cả bài viết</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="sidebar-item search">
                                                                    <form id="search_form" name="gs" method="GET" action="#">
                                                                        <input type="text" name="q" class="searchText" placeholder="Tìm kiếm" autocomplete="on">
                                                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="sidebar-item recent-posts">
                                    <div class="sidebar-heading">
                                        <h2>Bài viết nổi bật</h2>
                                    </div>
                                    <!--                                    <div class="content" th:if="${indexResponse.postTrending}">-->
                                    <!--                                        <a th:href="@{'/post/'+${indexResponse.postTrending.number}}"><h5-->
                                    <!--                                                th:utext="${indexResponse.postTrending.title}"-->
                                    <!--                                                style="color: black!important;"></h5></a>-->
                                    <!--                                    <p th:utext="${indexResponse.postTrending.description}"> (Tóm tắt mô tả)</p>-->
                                    <!--                                    <ul class="post-info">-->
                                    <!--                                        <li><a href="#" th:utext="${indexResponse.postTrending.authorName}">(Người đăng?)</a></li>-->
                                    <!--                                    </ul>-->
                                    <!--                                    </div>-->
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="sidebar-item categories">
                                    <div class="sidebar-heading">
                                        <h2>Chủ đề</h2>
                                    </div>
                                    <div class="content">
                                        <ul>
                                            <th:block th:each="category:${listCategory}">
                                                <li><a href="#">- [[${category}]]</a></li>
                                            </th:block>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>