<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{decorator/client}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Banner Starts Here -->
<div layout:fragment="~{content}">
    <div class="heading-page header-text">
        <section class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-content">
                            <h4>Tất cả bài viết</h4>
                            <h2>Let's read!</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Banner Ends Here -->

    <section class="blog-posts grid-system">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="all-blog-posts">
                        <div class="row">
                            <!--                        <div class="col-lg-6" th:each="item : ${listPostResponse.listPost}">-->
                            <!--                            <div class="blog-post">-->
                            <!--                                <div class="blog-thumb">-->
                            <!--                                    <img th:src="@{'/'+${item.imgHeader}}" width="345px" height="317px">-->
                            <!--                                </div>-->
                            <!--                                <div class="down-content">-->
                            <!--                                    <p th:if="${!item.browser}">Chưa được duyệt</p>-->
                            <!--                                    <a th:href="@{'/post/'+${item.number}}"><h4 th:utext="${item.title}">Donec tincidunt leo</h4></a>-->
                            <!--                                    <ul class="post-info">-->
                            <!--                                        <li><a href="#" th:utext="${item.authorName}">Admin</a></li>-->
                            <!--                                        <li><a href="#" th:utext="${#temporals.format(item.created,'dd/MM/yyyy HH:mm')}">May 31, 2020</a></li>-->
                            <!--                                        &lt;!&ndash;                                            <li><a href="#">12 Comments</a></li>&ndash;&gt;-->
                            <!--                                    </ul>-->
                            <!--                                    <p th:utext="${#strings.abbreviate(item.description,100)}">Nullam nibh mi, tincidunt sed sapien ut, rutrum hendrerit velit. Integer auctor a mauris sit amet eleifend.</p>-->
                            <!--                                    <div class="post-options">-->
                            <!--                                        <div class="row">-->
                            <!--                                            <div class="col-lg-12">-->
                            <!--                                                <ul class="post-tags">-->
                            <!--                                                    <li><i class="fa fa-tags"></i></li>-->
                            <!--                                                    <li><a th:href="@{/post/{category}/list(category=${item.category})}" th:utext="${item.category}"></a></li>-->
                            <!--                                                </ul>-->
                            <!--                                            </div>-->
                            <!--                                        </div>-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                            <!--                        </div>-->
                                                </div>
                            <div class="col-lg-12">
                                <!--                            <ul class="page-numbers">-->
                                <!--                                <li><a href="#">1</a></li>-->
                                <!--                                <li class="active"><a href="#">2</a></li>-->
                                <!--                                <li><a href="#">3</a></li>-->
                                <!--                                <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>-->
                                <!--                            </ul>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</div>
</body>
</html>